<div class="profile-password-change__wrapper">
  {{> component/backButton}}
  <div class="profile-password-change">
    <div class="profile-password-change__img-wrapper">
      <img class="profile-password-change__img" src="../../../assets/jpg/avatar.jpg" alt="аватар пользователя">
    </div>
    <ul class="profile-password-change__fields">
      <li class="profile-password-change__field">
        {{> component/settingInput type='password' label='Старый пароль' value='1111' id='oldPassword'}}
      </li>
      <li class="profile-password-change__field">
        {{> component/settingInput type='password' label='Новый пароль' value='2222' id='newPassword'}}
      </li>
      <li class="profile-password-change__field">
        {{> component/settingInput type='password' label='Повторите новый пароль' value='2222' id='repeateNewPassword'}}
      </li>
    </ul>
    <div class="profile-password-change__button-wrapper">
      {{> component/button type="submit" text="Сохранить"}}
    </div>
  </div>
</div>
