@import "../../styles/variables";

.label-setting {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  width: fit-content;
  white-space: nowrap;
}

.input-setting {
  width: 100%;
  outline: none;
  text-align: right;
  font-size: 13px;
  line-height: 13px;
  color: $gray;
}

.setting-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
