<ul class="dropdown dropdown_chat-options">
  <li class="dropdown__item">
    <div class="dropdown__image dropdown__image_chat-options dropdown__image_add" ></div>
    <span class="dropdown__text">Добавить пользователя</span>
  </li>
  <li class="dropdown__item">
    <div class="dropdown__image dropdown__image_chat-options dropdown__image_cross" ></div>
    <span class="dropdown__text">Удалить пользователя</span>
  </li>
</ul>
