<ul class="dropdown dropdown_chat-options">
  <li class="dropdown__item">
    <img
      class="dropdown__image dropdown__image_chat-options"
      src="../../../assets/svg/blueCrossAdd.svg"
      alt="Фото"
    />
    <span class="dropdown__text">Добавить пользователя</span>
  </li>
  <li class="dropdown__item">
    <img
      class="dropdown__image dropdown__image_chat-options dropdown__image_cross"
      src="../../../assets/svg/blueCrossAdd.svg"
      alt="Файл"
    />
    <span class="dropdown__text">Удалить пользователя</span>
  </li>
</ul>
