<div class="modal">
  {{>component/modalOverlay}}
  <div class="modal__content">
    <h3 class="modal__title">Добавить пользователя</h3>
    {{>component/input placeholder='Логин' label='Логин' id='userAddLogin' type="text" name="userAddLogin" }}
    {{>component/button text='Добавить' }}
  </div>
</div>
